<div id="main" class="palm-hasheader">
    <div class="palm-header center" id="main-hdr">Preferences</div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper">
                <div x-mojo-element="CheckBox" id="dropbox-sync"></div>
                <div class="title">Sync with Dropbox</div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group" id="keychain-location-group" style="display: none">
    <div class="palm-group-title" x-mojo-loc=''>Keychain Location</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <div id="keychain-location" class="truncating-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group" id="dropbox-location-group" style="display: none">
    <div class="palm-group-title" x-mojo-loc=''>Dropbox Location</div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <div id="dropbox-location" class="truncating-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>
