table {
  width: 100%;
  table-layout: fixed;
  padding: 10px;
}

td, th {
  padding: 5px;
  font-size: 18px;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  text-align: left;
  width: 35%;
}

.name, .value {
  font-size: 18px;
  color: grey;
}

.name {
  padding-bottom: 4px;
}

#fields .palm-row-wrapper {
  padding: 10px;
}

