<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left truncating-text">#{title}</div>
  </div>
</div>

<table>
  <tr>
    <td width="25%"><div class="palm-info-text label">Domain:</div></td>
    <td><div class="palm-info-text truncating-text">#{domain}</div></td>
  </tr>
  <tr>
    <td width="25%"><div class="palm-info-text label">Username:</div></td>
    <td><div class="palm-info-text truncating-text">#{username}</div></td>
  </tr>
  <tr>
    <td width="25%"><div class="palm-info-text label">Password:</div></td></td>
    <td><div class="palm-info-text truncating-text">#{password}</div></td>
  </tr>
</table>
