<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left truncating-text">#{title}</div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Domain</div>
  <div class="palm-info-text truncating-text copyable">#{domain}</div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Username</div>
  <div class="palm-info-text truncating-text copyable">#{username}</div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc=''>Password</div>
  <div class="palm-info-text truncating-text copyable">#{password}</div>
</div>
